<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJksZg_p6SDErowhVvEvujxI9AasUGG8s</string>
	<key>GCM_SENDER_ID</key>
	<string>152560145706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ph.edu.hna.acadex</string>
	<key>PROJECT_ID</key>
	<string>hna-acadex</string>
	<key>STORAGE_BUCKET</key>
	<string>hna-acadex.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152560145706:ios:4d5e60ac17278c4d74fa53</string>
</dict>
</plist>